.cart {

  &__item {
    position: relative;
    padding-top: 25px;
  }

  &__title {
    margin-bottom: 18px;
  }

  &__delete_item_btn {
    color: #2A7A94;
    background-color: transparent;
    font-size: 16px;
  }

  &__img {
    margin-right: 15px;
    margin-left: 30px;
    margin-bottom: auto;
  }

  &__category {
    color: grey;
    font-size: 14px;
    margin-bottom: 5px;
  }

  &__product {

    &_title {
      font-size: 16px;
      margin-bottom: 5px;
    }

    &_price {
      font-size: 16px;
      color: #E83131;
    }

    &_checkbox {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-right: 15px;
    }

    &_total {
      width: 80px;

      &_total {
        margin-left: auto;
        display: block;
        font-size: 14px;
        color: grey;
        margin-bottom: 5px;
      }

      &_price {
        display: block;
        font-size: 16px;
        transition: .3s;
      }
    }
  }

  &__counter {
    width: 82px;

    &_content {
      margin-bottom: 10px;
    }

    &_btn {
      background-color: transparent;
      padding: 7px;
      border: 1px solid lightgrey;
      border-radius: 3px;
      color: grey;
    }

    &_count {
      display: block;
      align-items: center;
      padding-left: 12px;
      padding-right: 10px;
      font-size: 16px;
      transition: .3s;
      width: 31px;
    }

    &_subBtn {
      display: block;
      color: grey;
      background-color: transparent;
      font-size: 14px;
    }

    &_subBtn:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__total {
    float: right;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  &__total_btn {
    display: block;
    padding: 10px 20px;
    color: white;
    background-color: #2A7A94;
    border-radius: 5px;
    font-size: 16px;
    float: right;
    transition: .3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &_total__header {
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    transition: .3s;
  }

  &_total__content {
    margin-bottom: 15px;
  }

  &_total__price {
    font-size: 18px;
    font-weight: 600;
    color: rgb(207, 37, 37);
    transition: .3s;
  }
}