{
  "extends": "next/core-web-vitals",
  "rules": {
    "no-console": "warn",
    "quotes": [
      "error",
      "single"
    ],
    "jsx-quotes": [
      "error",
      "double"
    ],
    "prefer-const": "error",
    "indent": [
      "warn",
      2
    ],
    "no-unescaped-entities": "off"
  }
}