.header {
  margin-bottom: 38px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__nav {
    background-color: #FFEEEE;
    padding: 10px 0;
  }

  &__btn:hover {
    background-color: #E83131;
    color: #fff;
  }
}

.logo {
  padding-top: 30px;
  display: flex;
  align-items: flex-end;

  &__title {
    position: relative;
    top: 10px;
    color: #E83131;
    font-size: 45px;
    line-height: 29px;
  }

  &__descr {
    font-size: 17px;
    color: rgb(18, 18, 18);
  }
}

.search {
  border-radius: 0;
  border-bottom: 2px;
}