.header {
  margin-bottom: 38px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__nav {
    background-color: #fcf1f1;
    padding: 7px 0;
  }

  &__btn:hover {
    background-color: #E83131;
    color: #fff;
  }
}

.logo {
  padding-top: 30px;
  display: flex;
  align-items: center;
}

.search {
  border-radius: 0;
  border-bottom: 2px;
}