@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.ant-modal {
    top: 158px;

    &-footer {
        display: none;
    }
}

.ant-modal .ant-modal-body {
    font-family: 'Inter';
}

.ant-modal .ant-modal-close {
    top: 3px;
    inset-inline-end: 4px;
}