.ant-badge .ant-badge-count {
  transform: translate(6%, -50%);
  width: 50px;
  height: 23px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  background: #E83131;
  border-radius: 10px;
}

.ant-card .ant-card-head-title {
  font-size: 18px;
}